.navbar {
    background-color: rgba(255,255,255,.7);
    padding: 1rem 2rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-family: "Atomic Age", sans-serif;
    font-weight: bold;
    color: #000; 
}   

.navbar-nav .nav-link {
    color: #000;
    margin-right: 1rem;
    font-family: "Atomic Age", sans-serif;
    font-size: 18pt;
    padding-top: 0; /* Custom top padding */
    padding-bottom: 0; 
}

.navbar-nav .nav-link:hover {
    color: #ff69b4; /* Light pink color on hover */
}

.navbar-nav .nav-link.active {
    color: #ff69b4; /* Light pink color for active link */
}

.social-icons a {
    color: #000;
    margin-left: 0.75rem;
    font-weight: normal !important;
}

.no-bold {
  font-weight: normal !important;
}

.social-icons a:hover {
    color: #ff69b4; /* Light pink color on hover */
}
