@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Atomic+Age&family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Orbitron:wght@400..900&family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Moderustic:wght@300..800&display=swap');
.anton {
    font-family: "Anton", sans-serif;
    font-size: 5rem !important;
}

.noto {
    font-family: "Noto Sans Display", sans-serif;
    font-size: 1.5rem;
}

.bg-image-tech {
    background-image: url('https://www.bdlaw.com/content/uploads/2018/12/srl-crops/San-Francisco-Skyline-at-Sunrise.srl-crop-1.jpg') !important;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 90vh;
    position: relative;
}

@media (max-width: 764px) {
    .bg-image-tech {
        background-image: url('https://www.bdlaw.com/content/uploads/2018/12/srl-crops/San-Francisco-Skyline-at-Sunrise.srl-crop-1.jpg') !important;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 100vh;
        position: relative;
    }
}

.divider {
    border: 0;
    height: 1px;
    background: #ccc !important;
    margin: 20px 0;
  }

.mask-tech {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 800;
    font-size: 5rem;
    color: white;
    line-height: 1.2;
    text-align: center;
    margin: 0;
    padding: 0 15px;
}